<form id = "dynamicForm" action="{{endpoint}}"  method="post">
   <fieldset>
   {{#if condition}}
     <a class="storyLink" href="{{endpoint}}{{url}}">{{node}}</a>
   {{else}}
     <textarea class = "textarea" name= "{{name}}"></textarea>
     <input type="submit" value="Submit" id = "submit">
   {{/if}}
   </fieldset>
</form>