

<a href="#">Back to the start</a>
        <form id = "dynamicForm" action="/" method="post" enctype="multipart/form-data">
            <table id="form_table">
                <tr class="form_table_row">
                    <th class="form_table_head"></th>
                    <th class="form_table_head">
                        <fieldset>
                            <textarea class = "textarea" name= "textarea1">{{textBoxValue0}}</textarea>
                            {{#if textBoxValue}}

                             <a class="storyLink" href="">{{storyLine}}</a>

                             {{/if}}
                            <input type="submit" value="Submit" id = "submit0">

                        </fieldset>
                    </th>
                    <th class="form_table_head"></th>
                </tr>
                <tr class="form_table_row">
                    <th class="form_table_head">
                        <fieldset>
                            <textarea class = "textarea" name = "textarea2">{{textBoxValue1}}</textarea>
                            <a class="storyLink" href="">{{storyLine}}</a>
                            <input type="submit" value="Submit" >
                        </fieldset>
                    </th>
                    <th class="form_table_head">
                        <p class="centerStory storyLink">{{centerStory}}</p>
                    </th>
                    <th class="form_table_head">
                        <fieldset>
                            <textarea class = "textarea">{{textBoxValue2}}</textarea>
                            <a class="storyLink" href="">{{storyLine}}</a>
                            <input type="submit" value="Submit">
                        </fieldset>
                    </th>
                </tr>
                <tr class="form_table_row">
                    <th class="form_table_head"></th>
                    <th class="form_table_head">
                        <fieldset>
                            <textarea class = "textarea">{{textBoxValue3}}</textarea>
                            <a class="storyLink" href="">{{storyLine}}</a>
                            <input type="submit" value="Submit">
                        </fieldset>
                    </th>
                    <th class="form_table_head"></th>
                </tr>
            </table>
        </form>