


<a href="#">Back to the start</a>

            <table id="form_table">
                <tr class="form_table_row">
                    <th class="form_table_head"></th>
                    <th class="form_table_head">
                    <form id = "dynamicForm" action="/" method="post">
                        <fieldset>
                            <a class="storyLink" href="/0">{{storyLine0}}</a>
                            {{#if storyLine0}}{{else}}<textarea class = "textarea" name= "textarea0">{{textBoxValue}}</textarea>
                            <input type="submit" value="Submit" id = "submit">{{/if}}
                        </fieldset>
                        </form>
                    </th>
                    <th class="form_table_head"></th>
                </tr>
                    <tr class="form_table_row">
                      <th class="form_table_head">
                      <form id = "dynamicForm" action="/" method="post">
                        <fieldset>
                            <a class="storyLink" href="/1">{{storyLine1}}</a>
                            {{#if storyLine1}}{{else}}<textarea class = "textarea" name = "textarea1">{{textBoxValue}}</textarea>
                            <input type="submit" value="Submit" >{{/if}}
                        </fieldset>
                        </form>
                    </th>
                    <th class="form_table_head">
                        <p class="centerStory storyLink">{{centerStory}}</p>
                    </th>
                     <th class="form_table_head">
                     <form id = "dynamicForm" action="/" method="post">
                        <fieldset>
                            <a class="storyLink" href="/2">{{storyLine2}}</a>
                            {{#if storyLine2}}{{else}}<textarea class = "textarea" name = "textarea2">{{textBoxValue}}</textarea>
                            <input type="submit" value="Submit">{{/if}}
                        </fieldset>
                        </form>
                    </th>
                </tr>
                <tr class="form_table_row">
                    <th class="form_table_head"></th>
                    <th class="form_table_head">
                    <form id = "dynamicForm" action="/" method="post">
                        <fieldset>
                            <a name = "simon" class="storyLink" href="/3">{{storyLine3}}</a>
                            {{#if storyLine3}}{{else}}<textarea class = "textarea" name = "textarea3">{{textBoxValue}}</textarea>
                            <input type="submit" value="Submit">{{/if}}
                        </fieldset>
                        </form>
                    </th>
                    <th class="form_table_head"></th>
                </tr>
            </table>



